<div class="background">
<mat-toolbar color="primary">
<!--  toolbar-->
  <mat-toolbar-row>
    <nav>
      <mat-menu #appMenu="matMenu">
        <button routerLink="/home" mat-menu-item matTooltip="View Photo Books">
          <mat-icon>home</mat-icon> Home
        </button>
        <button routerLink="/edit"  mat-menu-item matTooltip="Edit Photo Books">
          <mat-icon>edit</mat-icon>  Edit
        </button>
      </mat-menu>
    </nav>
    <span class="menu">
      <button mat-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
    <span>
      i|i Photo Collections
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<!--  content-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar color="primary">
<!--    footer-->
    <mat-toolbar-row>
      <span>
        &copy; i|i class Programmer
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
